body{
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.container{
    background-color: hsl(244, 38%, 16%);
    display: flex;
    color: white;
}
.d1{
    padding: 50px;
}
span{
    color: hsl(277, 64%, 61%);
}
.header{
    display: flex;

}
.p1{
    margin-top: 20px;
    color: gray;

}
.stats{
    
    display: flex;
    padding: 10px;
    gap: 30px;
    text-align: center;
    margin-top: 50px;
}
.i1{
    width: 50%;
}
.stat1{
    margin-bottom: 0px;
}
h1{
    margin: 0px;
}
.p2{
    margin: 0px;
}